body,
html {
    height: 100%;
    background-color: #999;
}

.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("osrsImage.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.user {
    text-align: center;
    font-size: 27px;
}

form {
    text-align: center;
}

input[type=text] {
    width: 7.5%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(0, 5, 5);
    border-radius: 10px;
}

input[type=submit] {
    width: auto;
    border-radius: 10px;
    border: 1px solid black;
}